@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700');
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
}

html, body {
	height: 100%;
}

.basket_container {

}

.h2 {

}

.text-center {

}

.head {

}

.basket_list {

}

.basket_record {

}

.category_name {

}

.product_name {

}

.product_price {

}

.product_cost {

}

.btn {
	background-color:  #ffffff;
	box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
	width: 212px;
	height: 45px;
	text-transform: uppercase;
	text-align: center;
	border-radius: 22px;
	color:  #212121;
	font-size: 17px;
	font-weight: 700;
	line-height: 45px;
	margin-top: 32px;
	letter-spacing: 3px;
}

.btn > a {
	text-decoration: none;
}

.btn-red {
  display: block;
  height: 71px;
  width: 510px;
  border-radius: 35px;
  background-color: #f44336;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  box-shadow: 0px 2px 4.85px 0.15px rgba(33, 33, 33, 0.35);
  line-height: 70px;
  letter-spacing: 6px;
  margin-top: 31px;
}

.basket_summary {

}